expttools==0.2
fairlearn==0.10.0
future==0.18.2
git-filter-repo==2.45.0
infairness==0.2.3
ipykernel==6.29.4
langchain-community==0.2.12
langchain-huggingface==0.0.3
macholib==1.15.2
mlsim==0.2
openai==1.42.0
pinecone-client==5.0.1
pip-chill==1.0.3
python-dotenv==1.0.1
seaborn==0.13.2
skorch==0.15.0
statsmodels==0.14.2
tf-keras==2.17.0
